#banner1 {
    background-image: url("/media/oscar-banner3.png");
    height: 48px;
    background-size: 100%
}

#banner2 {
    background:url("/media/oscar-banner3.png") no-repeat center top scroll;
    background-size: 100% auto;
    padding-bottom: 10%;
}

#banner3 {
    background:url("/media/oscar-banner4.png") no-repeat center top scroll;
    background-size: 100% auto;
    border: 0;
    padding-bottom: 10%;
}
