
<!-- table display -->

<div class="container animated zoomInRight">

    <center><h2>Vote Best Picture. Nominees:</h2></center>
    <form name="voteForm"><table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Director</th>
                <th>Actors</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(i, item) in movies">
                <td>{{ item.title }}</td>
                <td>{{ item.director }}</td>
                <td>{{ item.actors }}</td>
                <td><input type="radio" ng-model="voteData.movie_id" ng-required="!voteData.movie_id" ng-value="item.id"></td>
        </tr>
        </tbody>
    </table>

    <h4>About you</h4>
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>Age: <input type="number" min=1 max=150 ng-required="true" ng-model="voteData.age"></td>
            <td>Zipcode: <input type="number" ng-required="true" min=2801 max=99950 ng-model="voteData.zipcode"></td>
            <!-- <td>Zipcode: <input ng-required="true" ng-pattern="/^\d{5}$/" ng-model="voteData.zipcode"></td> -->
            <!--
            <td>Gender: <select ng-model="voteData.gender" required>
                    <option value="m">Male</option>
                    <option value="f">Female</option>
            </td>
            -->
            <td>Gender: <select ng-model="voteData.gender" ng-options="opt for opt in ['Male','Female']" required>
                  <option></option>
              </select>
            </td>
            <td><input type="submit" value="Vote" class="btn btn-info" ng-disabled="voteForm.$invalid" ng-click="voteMovie()"></td>
        </tr>
        </tbody>
    </table>
</form>

<div ng-show="showMessage" class="alert alert-success">
    Thank you for voting

<button class="btn btn-success pull-right"
    ng-click="showVotes()"
    ng-disabled="showVotesButtonDisabled"
    id="sampleApi">
    Show Votes <span class="glyphicon glyphicon-th-list"></span>
</button>
</div>

<div ng-show="displayVotesView">
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>Total Votes</td>
            <td>{{ votes.total }}</td>
        </tr>
        </tbody>
        </table>

    <h4>Votes by Movie</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Votes</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(i, item) in votes.movies">
                <td>{{ item.title }}</td>
                <td>{{ item.total }}</td>
        </tr>
        </tbody>
    </table>
</div>

</div>

<!-- list display -->
<div class="container" ng-show="false">
    <ul class="list-group col-md-12">
            <li ng-repeat="(i, item) in searchResults" class="list-group-item group-item">
            {{item.title}}
            {{item.director}}
            {{item.actors}}
            <button class="btn btn-xs btn-info pull-right" ng-click="voteMovie(item)">Vote</button>
            </li>
    </ul>
</div>
