<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-static-top" role="navigation" ng-controller='topNavController'>
    <div class="container-fluid">
    <div class="navbar-header">
    	<a class="navbar-brand" href="/#/">OscarVote</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar1">
        <ul class="nav navbar-nav">
            <li><a href="/#/menu1">Menu1</a></li>
            <li><a href="/#/menu2">Menu2</a></li>
        </ul>
    </div>

    </div> <!-- container-fluid -->
</nav>
